@model ReportApp.Models.Report

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denied)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
